.MainPage_Nav{
    /* display: flex;
    width: 100%; */
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "left center Right"
    "left right .";
}
.MainPage_Left{
    border: 1px solid rgb(40, 40, 80) ;
    margin: 0px 10px 20px 10px;
    height: 900px;
    border-radius: 3px;
    min-width: 300px;
    width: 20%;
    overflow-y: scroll;
    grid-area:left;

}
.MainPage_Center{
    width: 500px;
    height:100%;
    overflow-x: scroll;
    grid-area:center;

}
.MainPage_Center_Right{

    grid-area:Right;
}

.MainPage_Right{
    border: 1px solid rgb(40, 40, 80) ;
    margin: 0px 10px 20px 10px;
    height: 100vh;
    border-radius: 3px;
    width: 100%;
    grid-area:right;

}

.MainPage_Left::-webkit-scrollbar {
    width: 5px;  /* 세로축 스크롤바 폭 너비 */
    height: 10px;  /* 가로축 스크롤바 폭 너비 */
    background: rgb(46, 46, 50) ; /* 스크롤바 막대 색상 */
 

}
.MainPage_Center::-webkit-scrollbar-thumb{
    width: 3px;
    height: 1px;  /* 가로축 스크롤바 폭 너비 */
    background: rgb(194, 194, 210) ; /* 스크롤바 막대 색상 */
 
}

