.MainPage_Nav{
    display: flex;
    width: 100%;
}
.MainPage_Left{
    border: 1px solid rgb(40, 40, 80) ;
    margin: 0px 10px 20px 10px;
    height: 900px;
    border-radius: 3px;
    min-width: 300px;
    width: 20%;
    overflow-y: scroll;


}
.MainPage_Center{
    width: 500px;
    height: 50%;
    overflow-x: scroll;

}

.MainPage_Left::-webkit-scrollbar {
    width: 5px;  /* 세로축 스크롤바 폭 너비 */
    height: 10px;  /* 가로축 스크롤바 폭 너비 */
    background: rgb(46, 46, 50) ; /* 스크롤바 막대 색상 */
 

}
.MainPage_Center::-webkit-scrollbar-thumb{
    width: 3px;
    height: 1px;  /* 가로축 스크롤바 폭 너비 */
    background: rgb(194, 194, 210) ; /* 스크롤바 막대 색상 */
 
}
.MainPage_Right{
    border: 1px solid rgb(40, 40, 80) ;
    margin: 0px 10px 20px 10px;
    height: 465px;
    border-radius: 3px;
    width: 20%;

}
.MainPage_Center_Right{
    width: 20%;

}